In [11]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [12]:
df = pd.read_csv("movie_dataset.csv")
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [13]:
features = ["keywords", "cast", "genres", "director"]

for feature in features:
    df[feature] = df[feature].fillna('')

In [14]:
def combine_feature(row):
    try:   
        return row["keywords"] + " " + row["cast"] + " " + row["genres"] + " " + row["director"] 
    except:
        print(row)
        
df["combined_features"] = df.apply(combine_feature, axis=1)

In [15]:
df.iloc[0]["combined_features"]

'culture clash future space war space colony society Sam Worthington Zoe Saldana Sigourney Weaver Stephen Lang Michelle Rodriguez Action Adventure Fantasy Science Fiction James Cameron'

In [17]:
##Get the count matrix and apply cosine similarity
cv = CountVectorizer()
count_matrix = cv.fit_transform(df["combined_features"])
cosine_model = cosine_similarity(count_matrix)

In [18]:
## Convert the model to a dataframe
cosine_model_df = pd.DataFrame(cosine_model)
cosine_model_df.head()

,0,1,2,3,4,5,6,7,8,9,...,4793,4794,4795,4796,4797,4798,4799,4800,4801,4802
0,1.000000,0.105409,0.120386,0.037743,0.230940,0.192450,0.0,0.140546,0.082061,0.117851,...,0.000000,0.000000,0.000000,0.070273,0.000000,0.075485,0.0,0.000000,0.000000,0.0
1,0.105409,1.000000,0.076139,0.035806,0.073030,0.255604,0.0,0.066667,0.116775,0.111803,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.035806,0.0,0.036515,0.000000,0.0
2,0.120386,0.076139,1.000000,0.163572,0.208514,0.125109,0.0,0.190347,0.088911,0.170251,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.081786,0.0,0.000000,0.111456,0.0
3,0.037743,0.035806,0.163572,1.000000,0.039223,0.078446,0.0,0.035806,0.083624,0.120096,...,0.089984,0.050637,0.125436,0.107417,0.087706,0.153846,0.0,0.039223,0.000000,0.0
4,0.230940,0.073030,0.208514,0.039223,1.000000,0.200000,0.0,0.219089,0.042640,0.163299,...,0.000000,0.051640,0.000000,0.109545,0.000000,0.039223,0.0,0.000000,0.000000,0.0